.bg{ 
    background-color: #3c3b3b;
    padding: 10px;

}    
.nav-item:hover{
    background-color: yellowgreen;
    border-radius: 5px;
}


.home{

    max-width: 100%;
    font-family: fantasy;
    background-image: url(images/profile/bg3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 120px;
    background-attachment: fixed;
   
}
   



.title1{

    text-align: center; 
    color: rgb(234, 255, 0);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    
}

@media only screen and (max-width: 380px) {
   
    .home{

        max-width: 100%;
        font-family: fantasy;
        background-image: url(images/profile/bg3.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 40px;
        background-attachment: fixed;
        height: 55vh;
        padding-top: 100px;
       
    }

 
   
  }



.title2{

    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #000000, 0 0 5px #000000;
    

}


.carousel{

   display: flex;
   justify-content: center;
   width: 100%;
   height: fit-content;
   background-position: center;
   background-size: cover;
  

   
}
.about{

    background-image: url(images/profile/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    background-attachment: fixed;
}
.about1{

    text-align: center;
    text-shadow: 0 0 3px #070707, 0 0 5px #1ff408;
    width: 100%;
    
}

.split-screen{
    background-image: url(pic/6.jpg);
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
    padding: 20px;
  }
  
  @media only screen and (min-width: 675px) {
    .split-screen{
        background-image: url(pic/6.jpg);
        background-size: cover;
        width: 100%;
        background-attachment: fixed;
        padding: 20px;
        display:flex;
      }
  }


  .sec1 img{

    width: 100% 100%;
    
     }
   